parameters:
    phpVersion:
        min: 80000
        max: 80410

    level: 9
    tmpDir: /tmp/.phpstan
    paths:
        - src/

    scanFiles:
        - %rootDir%/../../php-stubs/wordpress-tests-stubs/wordpress-tests-stubs.php

    excludePaths:
        - tests/*

    # Strict rules configuration
    strictRules:
        noVariableVariables: false

    treatPhpDocTypesAsCertain: false

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
